{% extends 'web/base.html' %}
{% load staticfiles %}

{% block class_tab_about %}current-menu-item{% endblock %}

{% block content %}
			
	<main class="main-content">
		<div class="fullwidth-block inner-content">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="content">
							<h2 class="entry-title">Our History</h2>
							<figure class="featured-image">
								<img src='{% static "images/ourhistory.jpg" %}' alt="post image">
							</figure>
							<p class="leading">SilverWave nació el 10 de Enero de 2014 cuando Jaime y Maw buscaban bajista. Jorge respondió al anuncio y desde entonces están dando caña!</p>

							<p>Pronto comenzarán su andadura por los escenarios madrileños y del resto del país, presentando su primer EP</p>
						</div>
					</div>
					<div class="col-md-4 col-md-push-1">
						<aside class="sidebar">
							<div class="widget">
								<h3 class="widget-title">Discography</h3>
								<ul class="discography-list">
									<li>
										<figure class="cover"><img src='{% static "images/thumbnail-EP1.jpg" %}' alt="thumbnail EP1"></figure>
										<div class="detail">
											<h3><a href="#">Rebellion</a></h3>
											<span class="year">2017</span>
											<span class="track">12 tracks</span>
										</div>
									</li>
								</ul>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div> <!-- .testimonial-section -->


	</main> <!-- .main-content -->
{% endblock %}