{% extends 'web/base.html' %}
{% load staticfiles %}

{% block class_tab_download %}current-menu-item{% endblock %}

{% block content %}
			
	<main class="main-content">
		<div class="fullwidth-block download">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h2 class="page-title">Our Music</h2>

						<div class="item">
							<h3 class="item-title">Harkorea</h3>
							<span class="year">2016</span>
							<a href="./audio/harkorea.mp3" download class="button small primary">Download</a>
							<a href="./audio/harkorea.mp3" class="button small secondary">Listen to</a>
							<div class="social-share">
								<span>Share:</span>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>

						<div class="item">
							<h3 class="item-title">Harkore Krishna</h3>
							<span class="year">2016</span>
							<a href="./audio/harkore_krishna.mp3" download class="button small primary">Download</a>
							<a href="./audio/harkore_krishna.mp3" class="button small secondary">Listen to</a>
							<div class="social-share">
								<span>Share:</span>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>

						<div class="item">
							<h3 class="item-title">Invincible</h3>
							<span class="year">2015</span>
							<a href="./audio/invincible.mp3" download class="button small primary">Download</a>
							<a href="./audio/invincible.mp3" class="button small secondary">Listen to</a>
							<div class="social-share">
								<span>Share:</span>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>

					</div>
					<div class="col-md-5 col-md-push-2">
						<h2 class="page-title">Cover</h2>

						<div class="item">
							<h3 class="item-title">NoFX - Lori Meyers</h3>
							<span class="year">2014</span>
							<a href="#" class="button small primary">Download</a>
							<a href="#" class="button small secondary">Listen to</a>
							<div class="social-share">
								<span>Share:</span>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div> <!-- .testimonial-section -->


	</main> <!-- .main-content -->
{% endblock %}